In [1]:
#Import Dependencies
import pandas as pd

In [2]:
#Locate and read file
file = "Resources/purchase_data.csv"
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Player Count

In [3]:
#Determine number of unique players
player_count = df["SN"].nunique()
print("The total number of players is",player_count)

The total number of players is 576

## Purchasing Analysis (Total)

In [4]:
#Number of unique items
items = df["Item ID"].nunique()

#Average purchase price
avg_purchase = round(df["Price"].mean(), 2)

#Total number of purchases
total_purchases = df["Purchase ID"].count()

#Total revenue
revenue = df["Price"].sum()

#Generate output summary
purchase_analysis_df = pd.DataFrame({
    "Unique Items":[items],
    "Average Purchase Price":[avg_purchase],
    "Total Purchases":[total_purchases],
    "Total Revenue":[revenue]
})

#Format output
purchase_analysis_df["Average Purchase Price"] = purchase_analysis_df["Average Purchase Price"].map("${:.02f}".format)
purchase_analysis_df["Total Revenue"] = purchase_analysis_df["Total Revenue"].map("${:.02f}".format)

#Print dataframe
purchase_analysis_df

   Unique Items Average Purchase Price  Total Purchases Total Revenue
0           179                  $3.05              780      $2379.77

## Gender Demographics

In [5]:
#Simplify database by deleting duplicate screennames
gender_only_df = df.drop_duplicates(subset="SN", keep="first")

#Count the number of players for each gender
gender = gender_only_df["Gender"].value_counts()

#Calculate the percent of players for each gender
percent_gender = round(gender_only_df["Gender"].value_counts()/player_count*100, 2)

#Display the data in a dataframe
gender_demographics_df = pd.DataFrame({
    "Number of players per gender":gender,
    "Percentage of players per gender":percent_gender
})

#Format the data
gender_demographics_df["Percentage of players per gender"] = gender_demographics_df["Percentage of players per gender"].map("{:.2f}%".format)

gender_demographics_df

,Number of players per gender,Percentage of players per gender
Male,484,84.03%
Female,81,14.06%
Other / Non-Disclosed,11,1.91%

## Purchasing Analysis (Gender)

In [6]:
# Group the purchases by gender for analysis
by_gender_df = df.groupby(["Gender"])

# Number of purchases per gender
purchase_count_gender = by_gender_df["Purchase ID"].count()

# Average purchase price per gender
average_purchase_price_gender = round(by_gender_df["Price"].mean(), 2)

# Total purchase value per gender
total_purchase_value_gender = by_gender_df["Price"].sum()

# Average purchase total per person per gender - not sure I'm interpreting this correctly
purchase_total_per_person_gender = round(by_gender_df["Price"].sum()/gender, 2)

#Display the data in a dataframe
purchasing_analysis_gender_df = pd.DataFrame({
    "Purchases":purchase_count_gender,
    "Average Price":average_purchase_price_gender,
    "Total Revenue":total_purchase_value_gender,
    "Average Total per Person":purchase_total_per_person_gender
    
})

#Format data
purchasing_analysis_gender_df["Average Price"] = purchasing_analysis_gender_df["Average Price"].map("${:.2f}".format)
purchasing_analysis_gender_df["Total Revenue"] = purchasing_analysis_gender_df["Total Revenue"].map("${:.2f}".format)
purchasing_analysis_gender_df["Average Total per Person"] = purchasing_analysis_gender_df["Average Total per Person"].map("${:.2f}".format)


#Print output
purchasing_analysis_gender_df

,Purchases,Average Price,Total Revenue,Average Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

In [11]:
# Create bins and labels for the age ranges
bins = [0, 11, 15, 19, 23, 27, 31, 35, 39, 43, 47]

age_groups = ["under 10", "11-14", "15-18", "19-22", "23-26", "27-30", "31-34", "35-38", "39-42", "43-46"]

# Determine an age group bin for each row
df["Age Group"] = pd.cut(df["Age"], bins, labels=age_groups, include_lowest=True)

In [24]:
# Group the data by Age Group
age_group_df = df.groupby(["Age Group"])

# Count the number of purchases per age group
purchases_age = age_group_df["Purchase ID"].count()

# Determine the average purchase price per age group
average_purchase_age = round(age_group_df["Price"].mean(), 2)

# Determine the total revenue per age group
total_revenue_age = age_group_df["Price"].sum()

# Average purchase total per person by age group - not sure I'm interpreting this correctly
# average_per_person_age = round(age_group_df["Price"].sum()/, 2)

#Display the data in a dataframe
age_demographics_df = pd.DataFrame({
    "Purchases":purchases_age,
    "Average Purchase":average_purchase_age,
    "Total Revenue":total_revenue_age,
#     "Average Total per Person":average_per_person_age
})

#Format data
age_demographics_df["Average Purchase"] = age_demographics_df["Average Purchase"].map("${:.2f}".format)
age_demographics_df["Total Revenue"] = age_demographics_df["Total Revenue"].map("${:.2f}".format)
# age_demographics_df["Average Total per Person"] = age_demographics_df["Average Total per Person"].map("${:.2f}".format)


#Print output
age_demographics_df

# purchases_age
# average_purchase_age
# total_revenue_age
# average_per_person_age

           Purchases Average Purchase Total Revenue
Age Group
under 10          39            $3.28       $127.75
11-14             47            $2.93       $137.81
15-18            101            $3.04       $307.24
19-22            298            $3.03       $903.84
23-26            150            $3.06       $459.54
27-30             60            $2.97       $178.05
31-34             45            $2.93       $131.66
35-38             27            $3.54        $95.64
39-42             10            $3.12        $31.18
43-46              3            $2.35         $7.06

## Top Spenders

In [56]:
#Group by screenname to determine the top spender
sn_df = df.groupby(["SN"])

#Number of purchases per player
purchase_count_sn = sn_df["Purchase ID"].count()

#Average purchase price per player
average_purchase_sn = round(sn_df["Price"].mean(), 2)

#Total purchase value per player
total_purchase_sn = sn_df["Price"].sum()

#Add new data to a dataframe
top_spenders_df = pd.DataFrame({
    "Total Purchases":purchase_count_sn, 
    "Average Purchase":average_purchase_sn,
    "Total Purchase":total_purchase_sn,
})

#Format values in the table #Format values in the table
top_spenders_df["Average Purchase"] = top_spenders_df["Average Purchase"].map("${:.2f}".format)
top_spenders_df["Total Purchase"] = top_spenders_df["Total Purchase"].map("${:.2f}".format)

#Sort based on the total purchase value
top_spenders_df = top_spenders_df.sort_values(["Total Purchase"], ascending=False)
top_spenders_df.head()

              Total Purchases Average Purchase Total Purchase
SN
Haillyrgue51                3            $3.17          $9.50
Phistym51                   2            $4.75          $9.50
Lamil79                     2            $4.64          $9.29
Aina42                      3            $3.07          $9.22
Saesrideu94                 2            $4.59          $9.18

## Most Popular Items

In [55]:
#Isolate the columns we need for calculations
item_df = df.loc[:,["Item ID", "Item Name", "Price"]]

#Group by item ID and name to determine the most popular items
item_df = item_df.groupby(["Item ID", "Item Name"])

#Number of times item is purchased
purchase_count_item = item_df["Item ID"].count()

item_price = round(item_df["Price"].mean(), 2)

#Total purchase value per player
total_purchase_value_item = item_df["Price"].sum()

#Add new data to a dataframe
popular_items_df = pd.DataFrame({ 
    "Purchase Count":purchase_count_item,
    "Item Price":item_price,
    "Total Purchase":total_purchase_value_item
})

#Format values in the table #Format values in the table
popular_items_df["Item Price"] = popular_items_df["Item Price"].map("${:.2f}".format)
popular_items_df["Total Purchase"] = popular_items_df["Total Purchase"].map("${:.2f}".format)

#Sort based on the total purchase count
popular_items_df = popular_items_df.sort_values(["Purchase Count"], ascending=False)
popular_items_df.head()

,,Purchase Count,Item Price,Total Purchase
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

In [60]:
#Created a new dataframe for the new sort
profitable_items_df = pd.DataFrame({ 
    "Purchase Count":purchase_count_item,
    "Item Price":item_price,
    "Total Purchase":total_purchase_value_item
})

#Sorted according to the total purchase value
profitable_items_df = profitable_items_df.sort_values(["Total Purchase"], ascending=False)

#Format data
profitable_items_df["Item Price"] = profitable_items_df["Item Price"].map("${:.2f}".format)
profitable_items_df["Total Purchase"] = profitable_items_df["Total Purchase"].map("${:.2f}".format)    

#Print output
profitable_items_df.head()

,,Purchase Count,Item Price,Total Purchase
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80