In [2]:
# Import Dependencies
import pandas as pd

In [5]:
# Locate and read file
file = "Resources/purchase_data.csv"
df = pd.read_csv(file)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [8]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [64]:
## Player Count
print("## Player Count")

player_count = df["SN"].nunique()
print("The total number of players is",player_count)

## Player Count
The total number of players is 576

In [65]:
## Purchasing Analysis (Total)
print("## Purchasing Analysis")

# Number of unique items
items = df["Item ID"].nunique()

# Average purchase price
avg_purchase = round(df["Price"].mean(), 2)

# Total number of purchases
total_purchases = df["Purchase ID"].count()

# Total revenue
revenue = df["Price"].sum()

# Generate output summary
output_df = pd.DataFrame({
    "Available Items":[items],
    "Average Purchase Price":[avg_purchase],
    "Total Purchases":[total_purchases],
    "Total Revenue":[revenue]
})
output_df

## Purchasing Analysis

   Available Items  Average Purchase Price  Total Purchases  Total Revenue
0              179                    3.05              780        2379.77

In [84]:
## Gender Demographics

gender_df = df.drop_duplicates(subset="SN", keep="first")
gender = gender_df["Gender"].value_counts()

print("Number of players per gender")
gender

Number of players per gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [86]:
percent_gender = round(gender_df["Gender"].value_counts()/player_count*100, 2)
print("Percentage of players per gender")
percent_gender

Percentage of players per gender

Male                     84.03
Female                   14.06
Other / Non-Disclosed     1.91
Name: Gender, dtype: float64